/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

main {
    margin-bottom: 5%;
}

/* MENU */
header { 
    background-color: black;
    margin-bottom: 5%; 
    padding-bottom: 2%;
    padding-top: 2%;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu h1 {
    font-size: 40px;
    color:white;
    flex-basis: 10%;
}

#logo {
    width: 150px;
}

#menu ul {
    flex-basis: 90%;
}

#menu ul li {
    float: left;
    list-style-type: none;
    margin-left: 20px;

    background-color: black;
}

#menu ul li a {
    color: white;
}

#menu ul li a:hover {
    color:red;
}

/* LLISTAT D'ELEMENTS */

#llistat ul {
    display: flex;
    flex-wrap: wrap;
}

#llistat ul li {
    flex-basis: 50%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#llistat ul li .under {
    flex-basis: 100%;
    text-align: center;
}

#llistat ul li a img {
    width: 300px;
    height: 450px;
}
/* FOOTER */
footer {
    padding: 15px;

    background-color: black;
    color: white;
    width: 100%;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.name p{
    margin: auto;
}

.name {
    margin: auto;
    flex: 3;
}


.socialMedia {
    flex: 2;
}

.socialMedia ul {
    list-style-type: none;
}

.socialMedia ul li {
    float: left;
    margin-left: 10px;
}


/* FORMULARI */

#formularis {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.disFormulari input {
    width: 300px;

}

.disFormulari label {
    font-weight: bold;
}