/* GLOBAL */

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans|Playfair+Display&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin-bottom: 5%;
}


/* MENU */

header {
    background-color: black;
    margin-bottom: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Open Sans Condensed', sans-serif; */
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu h1 {
    font-size: 40px;
    color: white;
    flex-basis: 10%;
}

#logo {
    width: 150px;
}

#menu ul {
    flex-basis: 90%;
}

#menu p {
    color: wheat;
}

#menu ul li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}

#menu ul li a {
    color: greenyellow;
    background-color: black;
}

#menu ul li a:hover {
    color: cyan;
    border-color: cyan;
}


/* FOOTER */

footer {
    padding: 15px;
    background-color: black;
    color: white;
    width: 100%;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.name p {
    margin: auto;
}

.name {
    margin: auto;
    flex: 3;
}

.socialMedia {
    flex: 2;
}

.socialMedia ul {
    list-style-type: none;
}

.socialMedia ul li {
    float: left;
    margin-left: 10px;
}